<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand text-light link-light" href="/"
    ><%= __("nav_title") %></a
  >
  <ul class="navbar-nav mr-auto text-light link-light">
    <li>
      <a class="nav-link text-light link-light" href="/vault">
        <%= __("nav_create_keepass") %>
      </a>
    </li>
    <li class="nav-item text-light link-light">
      <a class="nav-link text-light link-light" href="/secret"
        ><%= __("nav_create_secret") %></a
      >
    </li>
    <li>
      <a class="nav-link text-light link-light" href="/devZone">
        <%= __("nav_dev_zone") %>
      </a>
    </li>
  </ul>
</nav>
